# Ignore Idea build output directory
.classpath
.factorypath
.project
.settings/
.idea
*.iml
*.iws
*.ipr
out/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
